{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}


<div class="row placeholders">
  <div class="col-xs-12 col-sm-6 placeholder">

    <div class="panel panel-primary">
            <div class="panel-heading">
                    <h3 class="panel-title">Rango welcomes you to the Login page, but he can only says that you are already loged in!!!</h3>

<br>
<p><strong>Eath with Rango @ 2016<strong></p>
            </div>
    </div>
    <img  width="80%"" src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
  </div>

{% else %}

<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

<form class="form-signin" role="form" method="post" action=".">
{% csrf_token %}

<h2 class="form-signin-heading">Please sign in</h2>
<input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
<input type="password" class="form-control" placeholder="Password" id="id_password" name="password"  required />

<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" >Sign in</button>
</form>

{% endif %}
{% endblock %}
